.footer {
   background-color: #2e2e33;
   margin-top: 20px;
   padding-bottom: 35px;
   padding-top: 8px;
   text-align: center;

   .footer__wrapper {
      @media screen and (min-width: 980px) {
         display: flex;
         flex-direction: column;
         margin: 0 auto;
         max-width: 966px;
      }
   }

   .footer__wrapper--left {
      @media screen and (min-width: 980px) {
         display: flex;
         min-width: 966px;

         .footer__follow {
            flex: 2;
         }

         .footer__nav {
            flex: 4;

            .footer__menu {
               display: flex;
               flex-wrap: wrap;

               .footer__menu-item {
                  width: 15rem;
               }
            }
         }
      }
   }

   .footer__follow {
      margin-top: 1rem;

      .footer__title {
         font-size: 18px;
         font-weight: 600;
         text-transform: uppercase;
         color: #80808c;
      }

      .footer__follow-sun {
         .footer__svg {
            margin: 0 1.5rem;
            width: 12%;
            height: 12%;

            @media screen and (min-width: 500px) {
               width: 9%;
               height: 9%;
            }

            @media screen and (min-width: 675px) {
               margin-top: 2rem;
               width: 6%;
               height: 6%;
            }

            @media screen and (min-width: 980px) {
               width: 4rem;
               height: 4rem;
            }
         }
      }
   }

   .footer__nav {
      .footer__nav-services {
         display: none;
      }

      .footer__menu {
         margin: 12px 0 10px;

         .footer__menu-item {
            font-size: 14px;
            color: #fff;
            padding: 3px 0;
            transition: 0.3s ease;
            cursor: pointer;

            &:hover {
               color: #eb1701;
            }
         }
      }
   }

   .footer__terms {
      color: #80808c;
      font-size: 11px;
      line-height: 14px;

      a {
         color: #80808c;
      }
   }

   .col {
      padding: 10px;
   }
}
