.dropdown {
   display: flex;
   flex-direction: column;
   padding: 1.2rem;
   background-color: #2e2e33;
   color: #fff;
   width: 100%;

   opacity: 0;
   position: absolute;
   right: 0;
   top: 5.3rem;
   transition: height, 0.5s linear;

   .search-dropdown__svg--menu {
      align-self: flex-end;
      width: 2rem;
      height: 2rem;
   }

   .dropdown__content {
      padding-bottom: 10px;
      padding-top: 10px;

      .dropdown__h4 {
         color: #80808c;
         border-bottom: 1px solid #80808c;
         font-size: 12px;
         padding-bottom: 10px;
         text-transform: uppercase;
      }

      .dropdown__items {
         padding: 5px 0;
         font-size: 13px;
      }
   }

   .dropdown__content-flex {
      display: flex;

      .dropdown__ul {
         width: 50%;
      }
   }
}
