.dropdown {
   display: none;
   position: absolute;
   left: 0;
   top: 7rem;
   width: 100%;
   z-index: 20;
   overflow-y: scroll;
   padding: 1.2rem;
   background-color: #2e2e33;
   color: #fff;
   transition: height, 0.5s linear;

   .dropdown__content {
      padding-bottom: 10px;
      padding-top: 10px;

      .dropdown__h4 {
         color: #80808c;
         border-bottom: 1px solid #80808c;
         font-size: 12px;
         padding-bottom: 10px;
         text-transform: uppercase;
      }

      .dropdown__items {
         padding: 5px 0;
         font-size: 13px;
      }
   }

   .dropdown__content-flex {
      display: flex;

      .dropdown__ul {
         width: 50%;
      }
   }
}

.opened {
   display: block;
   // height: 100%;
   // width: 100%;
   -webkit-transition: height, 0.5s linear;
   -moz-transition: height, 0.5s linear;
   -ms-transition: height, 0.5s linear;
   -o-transition: height, 0.5s linear;
   transition: height, 0.5s linear;
}
