.header-desktop {
   display: none;
   align-items: center;
   background-color: #2e2e33;
   height: 3rem !important;

   @media screen and (min-width: 675px) {
      display: flex;
   }

   .header-desktop__p {
      max-width: 660px;
      margin: 0 auto;
      color: #fff;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      padding-left: 30rem;
   }
}
