.latest__four-news {
   display: none;

   @media screen and (min-width: 980px) {
      display: block;
   }

   .latest__four-news-wrapper {
      display: flex;
      width: 300px;
      margin-bottom: 1rem;
      padding: 0 5px 1rem 0;
      color: #232327;
      border-bottom: 1px solid #ccc;

      .latest__four-news-img {
         width: 50%;
         height: 98px;
      }

      .latest__four-news-h3 {
         width: 50%;
         padding-left: 10px;
         font-size: 1.3rem;
         font-weight: 500;
         letter-spacing: -0.015em;

         span {
            text-transform: uppercase;
            color: #24588c;
            padding-right: 3px;
         }
      }
   }
}

.latest__four-news--first-row {
   .latest__four-news-h3 {
      span {
         color: #eb1701;
      }
   }
}
