.latest {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid black;

   @media screen and (min-width: 980px) {
      flex-direction: row;
      border-bottom: none;
   }

   .latest__img-container {
      display: flex;
      justify-content: center;

      @media screen and (min-width: 980px) {
         margin-bottom: 1rem;
      }

      .latest__img {
         width: 100%;
         height: auto;

         @media screen and (max-width: 500px) {
            height: 210px;
            width: 335px;
         }
      }
   }

   .latest__span {
      padding: 1rem 1rem 5px;
      font-weight: 500;
      font-size: 1.1rem;
      letter-spacing: 1px;

      @media screen and (min-width: 500px) {
         font-size: 1.3rem;
      }

      @media screen and (min-width: 980px) {
         display: none;
      }
   }

   .latest__h1 {
      margin: 1.2rem 0;
      padding: 0px 1rem 5px;

      @media screen and (min-width: 500px) {
         font-size: 1.7rem;
      }

      @media screen and (min-width: 675px) {
         font-size: 2.3rem;
      }

      span {
         text-transform: uppercase;
         font-weight: 600;
         color: #24588c;
      }
   }

   .latest__author {
      padding: 0px 1rem 5px;
      font-weight: 600;

      @media screen and (min-width: 500px) {
         font-size: 1.3rem;
      }

      @media screen and (min-width: 675px) {
         font-size: 1.5rem;
      }

      @media screen and (min-width: 980px) {
         display: none;
      }
   }

   .latest__update {
      padding: 0px 1rem 5px;

      @media screen and (min-width: 500px) {
         font-size: 1.2rem;
      }

      @media screen and (min-width: 675px) {
         font-size: 1.4rem;
      }

      @media screen and (min-width: 980px) {
         display: none;
      }

      span {
         font-weight: 600;
      }
   }

   .latest__icons {
      padding: 5px 1rem 5px;

      @media screen and (min-width: 980px) {
         display: none;
      }

      img {
         margin-right: 2rem;
         margin-bottom: 5px;

         @media screen and (min-width: 675px) {
            width: 3.5rem;
            height: 3.5rem;
         }
      }
   }

   .latest__main {
      @media screen and (min-width: 500px) {
         margin-right: 1.5rem;
      }
   }
}

.latest--first-row,
.latest--last-row {
   margin-bottom: 3rem;

   .latest__h1,
   .latest__four-news-h3 {
      span {
         color: #eb1701 !important;
      }
   }
}

.latest--last-row {
   margin-bottom: 0;
}
