.most-read {
   display: flex;
   flex-direction: column;
   margin-top: 2rem;
   background-color: #d6d8da;
   height: 30rem;
   margin-bottom: 2.3rem;

   .most-read__header {
      background-color: #583b73;

      header {
         margin: 0 auto;
         padding-left: 1rem;
         max-width: 660px;
         color: #fff;
         font-weight: 600;
         font-size: 20px;
         line-height: 37px;
         text-transform: uppercase;

         @media screen and (min-width: 980px) {
            max-width: 966px;
         }
      }
   }

   .most-read__card {
      background-color: #fff;
      border: none;
      height: 24.5rem;
      margin: 5px 1rem;

      .most-read__img {
         height: 105.1px;
      }

      .most-read__txt-content {
         padding: 12px 10px;
         font-weight: 500;
         line-height: 17px;
         font-size: 14px;

         .most-read__h4 {
            padding-bottom: 7px;
            padding-top: 7px;
            color: #222526;

            span {
               color: #9c73c1;
            }
         }
      }
   }
}

.most-read__header--irish-news {
   background-color: #24588c !important;
}

.most-read__span--irish-news {
   color: #24588c !important;
}

// TINY SLIDER CONFIG

.tns-controls {
   display: flex;
   justify-content: space-between;
   height: 8px;
   max-width: 660px;
   margin: 0 auto;

   @media screen and (min-width: 980px) {
      max-width: 966px;
   }
}

[data-controls="prev"] {
   width: 3rem;
   height: 6rem;
   color: #fff;
   background-color: rgba(66, 65, 65, 0.8);
   border: none;
   border-radius: 0 3rem 3rem 0;
   position: relative;
   left: 0rem;
   top: 9rem;
   z-index: 10000;
   font-weight: 600;
   font-size: 2rem;
   padding-right: 7px;
}

[data-controls="next"] {
   width: 3rem;
   height: 6rem;
   color: #fff;
   background-color: rgba(66, 65, 65, 0.8);
   border: none;
   border-radius: 3rem 0rem 0rem 3rem;
   position: relative;
   top: 9rem;
   z-index: 10000;
   font-weight: 600;
   font-size: 2rem;
   padding-left: 7px;
}

#tns1-mw,
#tns2-mw {
   max-width: 660px;
   margin: 0 auto;

   @media screen and (min-width: 980px) {
      max-width: 966px;
   }
}

#tns1 > .tns-item,
#tns2 > .tns-item {
   @media screen and (min-width: 320px) {
      width: 15.8rem !important;
      height: 22.6rem;
   }
}
