.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 1.5rem;

   .navbar__svg {
      height: 18px;
      width: 18px;
   }

   .navbar__icon {
      height: 64px;
      width: 123px;
   }
}
