#tns3-ow {
   @media screen and (min-width: 676px) {
      display: none;
   }
}

.slider {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #eaeeef;
   text-transform: uppercase;
   font-size: 16px;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;

   .slider__item {
      font-weight: 800;
      font-size: 1.3rem;
      margin: 8px 0;
   }

   .active {
      color: #eb1701;
   }
}
