.slider {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #eaeeef;
   text-transform: uppercase;
   font-size: 16px;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;

   .slider__item {
      font-weight: 800;
      font-size: 1.3rem;
      margin: 8px 0;
   }

   .active {
      color: #eb1701;
   }
}

.tns-nav {
   display: none;
}

#tns3-mw {
   @media screen and (min-width: 675px) {
      max-width: 662px;
      margin: 0 auto;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
   }

   @media screen and (min-width: 980px) {
      max-width: 966px;
   }
}
